apiVersion: apps/v1
kind: Deployment
metadata:
  name: wil-playground
  labels:
    app: wil-playground
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wil-playground
  template:
    metadata:
      labels:
        app: wil-playground
    spec:
      containers:
        - name: playground s
          image: wil42/playground:v2
          ports:
            - containerPort: 8888
              name: http
---
apiVersion: v1
kind: Service
metadata:
  name: wil-playground
  labels:
    app: wil-playground
spec:
  selector:
    app: wil-playground
  ports:
    - name: http
      protocol: TCP
      port: 8888
      targetPort: 8888
  type: NodePort
